# secrets
.env

# OS
.DS_Store

# node
node_modules/

# runtime data (DO NOT COMMIT)
data/*.json
data/groups/
data/klines/**

# keep daily signals tracked
!data/signals/
!data/signals/*.json

# Keep placeholders
!data/.keep
!data/signals/.keep
!data/klines/.keep

*.log

# ssh keys
ssh/
*.pem
